@tailwind base;
@tailwind components;
@tailwind utilities;




@import "tailwindcss";





:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 50;
  /* width: 300px; */


  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #00bfff; */



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-size: 15px;
  font-weight: 400;
  color: red;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


body {
  width: 900px;
  height: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  /* min-height: 30vh; */
}


h1 {
  gap: 3rem;
  font-size: 2em;
  line-height: 1.1;
}


button {
  width: 100%;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 3em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
a.active {
  /* font-size: 40px; */
  color: greenyellow;
}

<<<<<<< HEAD


/* Đăng nhập CSS */

.bg-gray-200 {
  background-color: #bcbcbc;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.title-dang-nhap {
  font-size: 2em;
  font-weight: 500;
  color: black;
}

input::placeholder {
  color: black; /* Thay đổi màu của placeholder */
}


=======
>>>>>>> cuong/main



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}